<template name="buildStatView">
    <div class="row form-group">
        <div class="col-xs-4">
            <select name="buildStats[{{slot._id}}][{{index}}][itemPropId]" class="form-control" required>
              {{#each itemProps}}
                  <option value={{_id}}>{{name}}</option>
              {{/each}}
            </select>
        </div>
        <div class="col-xs-4">
            <input name="buildStats[{{slot._id}}][{{index}}][priority]" class="form-control" type="text" placeholder="Priority" required>
        </div>
        <div class="col-xs-4">
            <input name="buildStats[{{slot._id}}][{{index}}][value]" class="form-control" type="text" placeholder="Value" required>
        </div>
    </div>
</template>
