<template name="dashboard">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    List group item heading
                </a>
                <a href="#" class="list-group-item">
                    List group item heading
                </a>
                <a href="#" class="list-group-item">
                    List group item heading
                </a>
            </div>
        </div>
    </div>

</template>
